.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.recipe-box {
  border-top: 2px solid #61A699;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 1px 5px 5px 1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 1px 5px 5px 1px rgba(204, 204, 204, 1);
  box-shadow: 1px 5px 5px 1px rgba(204, 204, 204, 1);
}

.recipe-title {
  position: relative;
}

.recipe-title-triangle {
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 10px;
  right: -10px;
  transform: rotate(90deg);
}

@media only screen and (max-width: 992px) {
  .recipes {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .recipes {
    grid-template-columns: 1fr;
  }
}