.food-recognition-content {
    margin-top: 20px;
    height: 500px;
    max-height: 500px;
}

.food-recognition-content__image-container {
    min-width: 60%;
    padding: 20px;
    margin: 0px auto;
    align-items: center;
}