.food-recognition-content {
    margin-top: 30px;
    height: 500px;
    max-height: 500px;
  }
  
  .food-recognition-content__image-container {
    padding: 20px;
    padding-bottom: 40px;
    margin: 0px auto;
    align-items: center;
    flex-basis: 60%;
  }
  
  .food-recognition-content__predictions {
    min-width: 40%;
    overflow-y: scroll;
  }
  
  .food-recognition-content__prediction:hover {
    background: #f4f9f4;
    transition: all 0.2s;
  }
  
  @media only screen and (max-width: 768px) {
    .food-recognition-content {
      max-height: initial;
      flex-wrap: wrap;
      height: auto;
    }
  
    .food-recognition-content__image-container {
      min-width: 100%;
      max-height: 300px;
      height: 300px;
    }
  
    .food-recognition-content__predictions {
      min-width: 100%;
      min-height: 300px;
    }
  }
  