.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  /* Create four equal columns that sits next to each other */
  .image-gallery__item {
    flex: 24%;
    max-width: 24%;
  }
  
  .image-gallery__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .image-gallery__item {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .image-gallery__item {
      flex: 100%;
      max-width: 100%;
    }
  }
  